h1,p{
    color:aqua
}
body{background-color:rgb(201, 105, 161)}

.header{
    background-color:cadetblue;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
p, h2{
    text-align: center;
}